.header {
    margin: 20px;
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.window {
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px 20px;
}

.word_pair {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 650px) {
    .window {
        margin: 0 auto;
        width: 500px;
    }
}

.vocabulary {
    text-align: center;
    font-style: italic;
}

.vocabulary span {
    font-style: normal;
}